<h1>Create a new Portfolio item</h1>

  <%= render "form", portfolio_item: @portfolio_item %>
 


 <!--    <div class="field">
    <%#= form.label :technology_id %>
    <%#= form.select :technology_id.map {|t| [:technology_id,:technology.title]} %>
  </div> -->


