<div class="container portfolio-form">
  <h1>Make a new form</h1>
        <%= render "form", portfolio_item: @portfolio_item %>
</div>
  
 


 <!--    <div class="field">
    <%#= form.label :technology_id %>
    <%#= form.select :technology_id.map {|t| [:technology_id,:technology.title]} %>
  </div> -->


